[submodule "instinct-pdd"]
	path = instinct-pdd
	url = https://github.com/General-Instinct/instinct-pdd.git
[submodule "InstinctCompress"]
	path = InstinctCompress
	url = https://github.com/General-Instinct/InstinctCompress.git
[submodule "serving"]
	path = serving
	url = https://github.com/General-Instinct/InstinctFlash-RT.git
